#AbstractArrow
public net.minecraft.world.entity.projectile.AbstractArrow f_36701_ #piercingIgnoreEntityIds
public net.minecraft.world.entity.projectile.AbstractArrow f_36702_ #piercedAndKilledEntities

#RangedAttribute
public-f net.minecraft.world.entity.ai.attributes.RangedAttribute f_22308_ #maxValue

#Minecraft
public-f net.minecraft.client.Minecraft f_91065_ #gui

#GameRenderer
public-f net.minecraft.client.renderer.GameRenderer f_109055_ #itemInHandRenderer
public net.minecraft.client.renderer.GameRenderer f_109057_ #NAUSEA_LOCATION

#HandRenderSelection
public net.minecraft.client.renderer.ItemInHandRenderer$HandRenderSelection f_172921_ #renderMainHand
public net.minecraft.client.renderer.ItemInHandRenderer$HandRenderSelection f_172922_ #renderMainHand

#ClientboundSetEntityMotionPacket
private-f net.minecraft.network.protocol.game.ClientboundSetEntityMotionPacket f_133177_ #xa
private-f net.minecraft.network.protocol.game.ClientboundSetEntityMotionPacket f_133178_ #ya
private-f net.minecraft.network.protocol.game.ClientboundSetEntityMotionPacket f_133179_ #za

#HandRenderSelection
public net.minecraft.client.renderer.ItemInHandRenderer$HandRenderSelection

#Boat
public net.minecraft.world.entity.vehicle.Boat f_38285_ #DATA_ID_TYPE
public net.minecraft.world.entity.vehicle.Boat f_38279_ #status
public net.minecraft.world.entity.vehicle.Boat f_38281_ #lastyd

#BlockEntity
public-f net.minecraft.world.level.block.entity.BlockEntity f_58855_ #type

#SignEditScreen
public net.minecraft.client.gui.screens.inventory.SignEditScreen f_99254_ #sign

#LeavesBlock
public net.minecraft.world.level.block.LeavesBlock m_54463_(Lnet/minecraft/world/level/block/state/BlockState;)I #getDistanceAt


#PlayerModel
public net.minecraft.client.model.PlayerModel f_103380_ #slim

#EntityRenderers
public-f net.minecraft.client.renderer.entity.EntityRenderers f_174032_ #PLAYER_PROVIDERS

#LivingEntityRenderer
public net.minecraft.client.renderer.entity.LivingEntityRenderer f_115291_ #layers

#AbstractSkeleton
public net.minecraft.world.entity.monster.AbstractSkeleton f_32130_ #bowGoal
public net.minecraft.world.entity.monster.AbstractSkeleton f_32131_ #meleeGoal

#ChestBlockEntity
public-f net.minecraft.world.level.block.entity.ChestBlockEntity f_155324_ #openersCounter

#BlockEntityWithoutLevelRenderer
public net.minecraft.client.renderer.BlockEntityWithoutLevelRenderer f_172547_ #blockEntityRenderDispatcher
public net.minecraft.client.renderer.BlockEntityWithoutLevelRenderer f_108823_ #shieldModel

#BuiltInLootTables
public net.minecraft.world.level.storage.loot.BuiltInLootTables m_78769_(Lnet/minecraft/resources/ResourceLocation;)Lnet/minecraft/resources/ResourceLocation; #register

#Projectile
public net.minecraft.world.entity.projectile.Projectile f_37246_ #leftOwner
public net.minecraft.world.entity.projectile.Projectile m_37276_()Z #checkLeftOwner

#BlockColors
public net.minecraft.client.color.block.BlockColors m_92586_(Lnet/minecraft/world/level/block/state/properties/Property;[Lnet/minecraft/world/level/block/Block;)V #addColoringState

#LivingEntity
public net.minecraft.world.entity.LivingEntity f_20956_ #lastPos
public net.minecraft.world.entity.LivingEntity m_21198_(Lnet/minecraft/world/entity/EquipmentSlot;)Lnet/minecraft/world/item/ItemStack; #getLastArmorItem
public net.minecraft.world.entity.LivingEntity f_147184_ #SPEED_MODIFIER_POWDER_SNOW_UUID

#FallingBlockEntity
public net.minecraft.world.entity.item.FallingBlockEntity <init>(Lnet/minecraft/world/level/Level;DDDLnet/minecraft/world/level/block/state/BlockState;)V

#CropBlock
public net.minecraft.world.level.block.CropBlock m_52272_(Lnet/minecraft/world/level/block/Block;Lnet/minecraft/world/level/BlockGetter;Lnet/minecraft/core/BlockPos;)F #getGrowthSpeed

#WallBlock
public net.minecraft.world.level.block.WallBlock m_57965_(FFFFFF)Ljava/util/Map; #makeShapes
public net.minecraft.world.level.block.WallBlock m_58033_(Lnet/minecraft/world/phys/shapes/VoxelShape;Lnet/minecraft/world/level/block/state/properties/WallSide;Lnet/minecraft/world/phys/shapes/VoxelShape;Lnet/minecraft/world/phys/shapes/VoxelShape;)Lnet/minecraft/world/phys/shapes/VoxelShape; # applyWallShape

#ItemRenderer
public net.minecraft.client.renderer.entity.ItemRenderer f_115095_ #itemModelShaper

#Item
public net.minecraft.world.item.Item f_41374_

#BaseEntityBlock
public net.minecraft.world.level.block.BaseEntityBlock m_152132_(Lnet/minecraft/world/level/block/entity/BlockEntityType;Lnet/minecraft/world/level/block/entity/BlockEntityType;Lnet/minecraft/world/level/block/entity/BlockEntityTicker;)Lnet/minecraft/world/level/block/entity/BlockEntityTicker;

#Player
public net.minecraft.world.entity.player.Player f_36097_ #foodData

#Mapitem
public net.minecraft.world.item.MapItem m_151111_(Lnet/minecraft/world/item/ItemStack;Lnet/minecraft/world/level/Level;IIIZZLnet/minecraft/resources/ResourceKey;)V

#ItemInHandRenderer
public net.minecraft.client.renderer.ItemInHandRenderer f_109299_ #minecraft
public net.minecraft.client.renderer.ItemInHandRenderer f_109300_ #minecraft
public net.minecraft.client.renderer.ItemInHandRenderer f_109301_ #offHandItem
public net.minecraft.client.renderer.ItemInHandRenderer f_109302_ #mainHandHeight
public net.minecraft.client.renderer.ItemInHandRenderer f_109303_ #oMainHandHeight
public net.minecraft.client.renderer.ItemInHandRenderer f_109304_ #offHandHeight
public net.minecraft.client.renderer.ItemInHandRenderer f_109305_ #oOffHandHeight
public net.minecraft.client.renderer.ItemInHandRenderer m_109346_(Lcom/mojang/blaze3d/vertex/PoseStack;Lnet/minecraft/client/renderer/MultiBufferSource;IFFLnet/minecraft/world/entity/HumanoidArm;)V #renderPlayerArm
public net.minecraft.client.renderer.ItemInHandRenderer m_109382_(Lcom/mojang/blaze3d/vertex/PoseStack;Lnet/minecraft/world/entity/HumanoidArm;F)V #applyItemArmTransform
public net.minecraft.client.renderer.ItemInHandRenderer m_109335_(Lcom/mojang/blaze3d/vertex/PoseStack;Lnet/minecraft/world/entity/HumanoidArm;F)V #applyItemArmAttackTransform
public net.minecraft.client.renderer.ItemInHandRenderer m_109330_(Lcom/mojang/blaze3d/vertex/PoseStack;FLnet/minecraft/world/entity/HumanoidArm;Lnet/minecraft/world/item/ItemStack;)V #applyEatTransform
public net.minecraft.client.renderer.ItemInHandRenderer m_109353_(Lcom/mojang/blaze3d/vertex/PoseStack;Lnet/minecraft/client/renderer/MultiBufferSource;IFLnet/minecraft/world/entity/HumanoidArm;FLnet/minecraft/world/item/ItemStack;)V #renderOneHandedMap
public net.minecraft.client.renderer.ItemInHandRenderer m_109339_(Lcom/mojang/blaze3d/vertex/PoseStack;Lnet/minecraft/client/renderer/MultiBufferSource;IFFF)V #renderTwoHandedMap
public net.minecraft.client.renderer.ItemInHandRenderer m_109371_(Lnet/minecraft/client/player/AbstractClientPlayer;FFLnet/minecraft/world/InteractionHand;FLnet/minecraft/world/item/ItemStack;FLcom/mojang/blaze3d/vertex/PoseStack;Lnet/minecraft/client/renderer/MultiBufferSource;I)V #renderArmWithItem

#Gui
public net.minecraft.client.gui.Gui$HeartType
public net.minecraft.client.gui.Gui$HeartType m_168732_(Lnet/minecraft/world/entity/player/Player;)Lnet/minecraft/client/gui/Gui$HeartType;
public net.minecraft.client.gui.Gui m_168700_(Lcom/mojang/blaze3d/vertex/PoseStack;Lnet/minecraft/client/gui/Gui$HeartType;IIIZZ)V #renderHeart

#OverworldBiomes
public net.minecraft.data.worldgen.biome.OverworldBiomes m_236663_(Lnet/minecraft/world/level/biome/Biome$Precipitation;FFLnet/minecraft/world/level/biome/MobSpawnSettings$Builder;Lnet/minecraft/world/level/biome/BiomeGenerationSettings$Builder;Lnet/minecraft/sounds/Music;)Lnet/minecraft/world/level/biome/Biome; #biome
public net.minecraft.data.worldgen.biome.OverworldBiomes m_236654_(Lnet/minecraft/world/level/biome/Biome$Precipitation;FFIILnet/minecraft/world/level/biome/MobSpawnSettings$Builder;Lnet/minecraft/world/level/biome/BiomeGenerationSettings$Builder;Lnet/minecraft/sounds/Music;)Lnet/minecraft/world/level/biome/Biome; #biome
public net.minecraft.data.worldgen.biome.OverworldBiomes m_194869_(Lnet/minecraft/world/level/biome/BiomeGenerationSettings$Builder;)V #globalOverworldGeneration

#LevelRenderer
public net.minecraft.client.renderer.LevelRenderer f_109451_ #rainSizeX
public net.minecraft.client.renderer.LevelRenderer f_109452_ #rainSizeZ
public net.minecraft.client.renderer.LevelRenderer f_109450_ #rainSoundTime
public net.minecraft.client.renderer.LevelRenderer f_109471_ #starBuffer
public net.minecraft.client.renderer.LevelRenderer f_109473_ #darkBuffer
public net.minecraft.client.renderer.LevelRenderer f_109472_ #skyBuffer

#FogRenderer
public net.minecraft.client.renderer.FogRenderer f_109010_ #fogRed
public net.minecraft.client.renderer.FogRenderer f_109011_ #fogGreen
public net.minecraft.client.renderer.FogRenderer f_109012_ #fogBlue

#NoiseGeneratorSettings
public net.minecraft.world.level.levelgen.NoiseSettings f_224519_ #OVERWORLD_NOISE_SETTINGS

# NoiseRouterData
public net.minecraft.world.level.levelgen.NoiseRouterData m_224485_(Lnet/minecraft/core/Registry;ZZ)Lnet/minecraft/world/level/levelgen/NoiseRouter; #overworld

#EntityRenderDispatcher
public-f net.minecraft.client.renderer.entity.EntityRenderDispatcher f_234577_ #itemInHandRenderer